.rate__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 20px;
}

.rate__inner span {
    text-decoration: underline;
    font-size: 1.3rem;
}

.rate__heading {
    margin-right: auto;
}

.rate__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 20px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.slick-slider {
    position: relative;
    margin-bottom: 70px;
}

.slick-track {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 30px;
}

.slick-list {
    overflow: hidden;
    max-height: 162px;
}

.slick-arrow {
    position: absolute;
    cursor: pointer;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    font-size: 0;
    width: 22px;
    height: 26px;
    background: no-repeat;
    background-size: 2rem;
    border: 0;
    outline: none;
}

.slick-prev {
    left: -80px;
    background-image: url(../../img/arrow-left-s-line.svg);
}

.slick-next {
    right: -55px;
    background-image: url(../../img/arrow-right-s-line.svg);
}

.slick-dots {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-55%);
        -ms-transform: translateX(-55%);
            transform: translateX(-55%);
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    min-width: 150px;
}

.slick-dots li button {
    font-size: 0;
    background-color: var(--gray);
    border: 0;
    border-radius: 100%;
    padding: 4px;
    cursor: pointer;
    outline: none;
}

.slick-dots .slick-active button {
    background-color: var(--black);
}

.rate__slider-item {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: var(--gold);
    padding: 10px 20px;
    border-radius: 14px;
    border: 3px solid var(--black);
    margin-bottom: 20px;
}

.rate__cost {
    -ms-flex-item-align: end;
        align-self: flex-end;
}