.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header__heading {
    font-size: 3rem;
}

.css-yk16xz-control,
.css-1pahdxg-control {
    min-height: 43px !important;
    min-width: 100px;
    cursor: pointer !important;
}