:root {
    --black: #201e20;
    --gold: #e8bb8a;
    --gray: #e1e1e1;
}

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body,
input {
    font-family: 'Alata', sans-serif;
    font-size: 18px;
    outline: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

p {
    margin: 10px 0;
}

input {
    max-height: 43px;
}

input[type="submit"] {
    padding: 7px 20px;
    background-color: var(--gray);
    color: var(--black);
    border: 2px solid var(--gold);
    border-radius: 6px;
    cursor: pointer;
}

input[type="submit"]:active {
    transform: scale(0.97);
}