.calc__form * {
    margin-right: 20px;
    min-height: 49px;
}

.calc__number {
    padding: 10px;
}

.calc__submit {
    padding: 7px 20px;
    background-color: var(--gold);
    color: var(--black);
    border: 2px solid var(--black);
    border-radius: 6px;
}

.calc__submit:active {
    transform: scale(0.97);
}

.calc__result {
    font-size: 1.3rem;
    text-decoration: underline;
}